* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    font-size: 62.5%;
    
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 5rem;
}

a {
    text-decoration: none; 
}

header {
    width: 80%;
    margin: auto;
}
.nav_links{
    /* border: 1px solid grey; */
    width: 100%;
}
.link1, .link2, .link3 {
    display: inline-block;
    width: 10%;
    text-align: center;
    border-radius: 10px;
    margin: 2% 0;
    color: white;
}

    .link1 {
        background-color: #FF764E;
        margin-left: 17%;
    }

    .link2 {
        background-color: #5ED3EB;
        margin-left: 17%;}

    .link3 {
        background-color: #FFCD69;
        margin-left: 17%;
    }
.header_content {
    margin: 2% 0;
}
.header_img {
    display: inline-block;
    width: 25%;
    /* border: grey 1px solid; */
}

.header_img img{
    border-radius: 50%;
}

.header_text {
    display: inline-block;
    width: 66%;
    /* border: grey 1px solid; */
    text-align: center;
    vertical-align: top;
    padding: 2% 0;
}

.header_text p {
    padding: 3% 0;
    width: 60%;
    margin: auto;
}

section {
    width: 80%;
    margin: auto;
}

.top_content {
    background-color: #DDB9A3;
    color: white;
    line-height: 1.5;
    text-align: center;
}

.top_content p {
    padding: 1%;
}

.blurb {
    width: 25%;
    margin: 2.5% auto; 
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.1;
    /* border: 1px solid grey;  */
}

.blurb img {
    display: block;
    width: 50%;
    margin: auto;
}

.blurb p span {
    font-weight: bolder;
}

footer {
    width: 80%;
    margin: auto;
    background-color: #F9E7DC;
}

footer nav {
    padding: 5% 0; 
}